<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title >To-Do-List</title>
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <div class="box" id="heading">
    <h1> <%=  typeofday  %> </h1>
  </div>
  <div class="box">
      <% for ( var i=0 ;i < typedList.length ; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p> <%=  typedList[i]  %> </p>
      </div>
      <%   }  %>
    </ul>

    <form class ="item" action="/" method="post">
      <input type="text" name="listItem" placeholder="Type A New Task" autocomplete="off">
      <button type="submit" name="button" value= <%= typeofday %> >+</button>
    </form>
  </div>


</body>

</html>
